	<div>
  <div id="comment_head">
     <span class="comhead">
       <% @user = User.find(comment.user_id )%>
       by <%= link_to @user.name, user_path(@user) %> 
       (
       <%= comment.created_at %>
       )
       <% if current_user && current_user.id == comment.user_id %>
          <%= link_to 'Delete', [comment.post, comment],
                       :confirm => 'are you sure?',
                       :method => :delete %>
          <%= link_to 'edit', edit_post_comment_path(comment.post, comment) %>
       <% end %>
       <%= link_to 'reply', new_comment_path( :post_id => comment.post.id, :parent_id => comment) %>
     </span>
     <br \>
   </div>
  <div id="comment_body">
    <%= markdown(comment.body) %>
  </div>
  <br \>
</div>
 
