<div>
  <div id="comment_head">
     <span class="comhead">
       <% @user = User.find(comment.user_id )%>
       by <%= link_to @user.name, user_path(@user) %> 
       (
       <%= comment.created_at %>
       )
       <% if current_user && current_user.id == comment.user_id %>
          <%= link_to 'Delete', [comment.post, comment],
                       :confirm => 'are you sure?',
                       :method => :delete %>
       <% end %>
     </span>
     <br \>
   </div>
  <div id="comment_body">
    <%= markdown(comment.body) %>
  </div>
  <br \>
</div>
 
