<% if @comments.any? %>  
  <% @comments.each do |comment| %>
<table cellpadding=0 cellspacing=0>
<tr>
	<td valign="top">
		<center>
       		<% @user = User.find(comment.user_id )%>
			<% if session[:comments_voted]&&session[:comments_voted].include?(comment.id.to_s)%>
	    		<img src="http://ycombinator.com/images/s.gif" height=1 width=14>
			<% else %>    
        		<a id=<%=comment.id.to_s %> onclick="return vote(this)" href=<%="/comment_vote?id="+comment.id.to_s %>><img src="http://ycombinator.com/images/grayarrow.gif" border=0 vspace=3 hspace=2></a> 
			<%end%>
		</center>
	</td>

<td>
  <div>
    <div id="comment_head">
      <span class="comhead">
			<% if comment.points.nil? %>
				0 point
			<%elsif comment.points == 1%>
	    	    1 point
			<%else%>
 			    <%=comment.points%> points 
  	    <%end%>
       <% @user = User.find(comment.user_id )%>
       by <%= link_to @user.name, user_path(@user) %> 
		(
		<%= time_ago_in_words comment.created_at %> ago
        )
		<% @post=Post.find(comment.post_id) %>
        on: <%= link_to @post.title, post_path(@post)%>
      </span>
      <br \>
    </div>
    <div id="comment_body">
      <%= markdown(comment.body)%>
    </div>
  </div>
</td>
</tr>
</table>
  <% end %>

<% else %>
  <p> no comment </p>
<% end %>

