
<% if current_user %>  
    <%= form_for(@comment) do |f| %>
      <div class="field">
        <%= f.text_area :body, :size => "70x8" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
<% else %>  
   <%= link_to "Log in", log_in_path %> to comment
<% end %>  

