
<% content_for :title, "comments" %>

<% if @comments.empty? %>

<p>
  No comment found
</p>
<% else %>
  <%= render 'indexcomment' %>
  <%= will_paginate :previous_label => h("< Previous Page"),  :next_label => h("Next Page >") %>
<% end %>

