/*

    terrafirma1.0 by nodethirtythree design
    http://www.nodethirtythree.com
        
*/

body { 
  font-family:Verdana; 
  font-size:small;  
}
td { 
  font-family:Verdana; 
  font-size:100%;  
}

/*links*/
a:link { 
  color:#000000; 
  text-decoration:none; 
}
a:visited { 
  color:#828282; 
  text-decoration:none; 
}
.pagetop { 
  font-family:Verdana; 
  font-size: 100%; 
  color:#000000; 
}
.pagetop a:visited { 
  color:#000000;
}
#post_body a:link, #post_body a:visited { 
  text-decoration:underline;
}
#comment_body a:link, #comment_body a:visited { 
  text-decoration:underline;
}
.comhead a:link { 
  color:#828282; 
}
.comhead a:hover { 
  text-decoration:underline; 
}	

/*pre*/
pre { 
  overflow: auto; 
  padding: 9px; 
  max-width:600px; 
}

/* do need this line */
.subtext { 
  font-family:Verdana; font-size: 80%; color:#828282; 
}
.title { 
  font-family:Verdana; font-size: 100%; color:#828282; 
}
.reply {
  margin-top:-5pt; 
  font-size:100%;
}

#comment_head {
  margin-bottom:-5px;
}
#comment_body {

}

#post_head {
  margin-bottom:10px;
}
#post_body {
}

/* <span class="comhead"> (mozilla.com) </span> */

.comhead { 
  font-family:Verdana; 
  font-size:  80%; 
  color:#828282; 
}

/*
a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; background-color:#fff; }
*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*** Markdown example **/

.markdown_examples {
  margin-top: 5px;
}

.markdown_examples table {
  border-collapse: collapse;
}

.markdown_examples table td {
  border: solid 1px #CCC;
  padding: 2px 10px;
}

.markdown_examples .code_block {
  width: 200px;
}


/*** CODE BLOCKS ***/
.highlight {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  margin: 10px;
  background-color: #232323;
  color: #E6E0DB;
}


.an { color:#E7BE69 }                      /* html attribute */
.cm { color:#BC9358; font-style: italic; } /* comment */
.c1 { color:#BC9358; font-style: italic; } /* comment */
.ch { color:#509E4F }                      /* escaped character */
.mi { color:#FFF }                         /* constant */
.fl { color:#A4C260 }                      /* float */
.nf { color:#FFC56D }                      /* function: yellow. ie. "main()" in C*/
.gv { color:#D0CFFE }                      /* global variable */
.i  { color:#A4C260 }                      /* integer */
.il { background:#151515 }                 /* inline code */
.iv { color:#D0CFFE }                      /* instance variable */
.pp { color:#E7BE69 }                      /* doctype */
.kt { color:#CB7832 }                      /* keyword */
.kw { color:#CB7832 }                      /* keyword */
.rx { color:#A4C260 }                      /* regex */
.s  { color:#A4C260 }                      /* string : green. for "string"*/
.s1  { color:#A4C260 }                      /* string : green. for 'string'*/
.s2 { color:#A4C260 }                      /* string */
.k  { color:#CB783D }                      /* keyword : dark orange*/
.ss { color:#6C9CBD }                      /* symbol */
.ta { color:#E7BE69 }                      /* html tag */
.pc { color:#6C9CBD }                      /* boolean */


.gi { color:#A4C260 }                      /* diff: +++: green*/
.gd { color:#faa}                          /* diff: ---: github red */
.gu { color:#6C9CBD }                      /* diff: FIXME*/
.gh { color:#6C9CBD }                      /* diff: FIXME */


.nt { color:#FFC56D } 						/* xml: nt. yellow as C function */
.cp { color:#FFC56D } 						/* xml:  yellow as C function */
.na { color:#FFC56D } 						/* xml:  yellow as C function */

/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 120%px;
}

.pagination .disabled {
  color: #999;
 }

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
   padding: 4px;
}

/*** ABOUT ***/

#about {
  margin-right: 0px;
}

#about .peter {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .peter img {
  display: block;
  padding-bottom: 2px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}



/* others */

blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: solid 5px #CCC;
  color: #777;
}

/* comments */

.nested_comments {
  margin-left: 43px;
}

.nested_comments .nested_comments .nested_comments .nested_comments .nested_comments {
  margin-left: 0;
}

