/*

    terrafirma1.0 by nodethirtythree design
    http://www.nodethirtythree.com
        
*/
body
{
margin-left: 100px;
margin-right: 100px;
font-family: Verdana, Helvetica, Arial;

}

/*Remove the line under links*/
a {text-decoration:none;}

/*this is very important for me*/
pre { margin-left: 3% }

#comment_head
{
background: #dbdbdb no-repeat;
border-left: 9px;
padding:1px 1px 1px 1px;
}
#comment_body
{
background: #f3f3f3 no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}

#post_head
{
background: #dbdbdb no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}
#post_body
{
background: #f3f3f3 no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}

/* <span class="comhead"> (mozilla.com) </span> */
.comhead { font-family:Verdana; font-size:  8pt; color:#828282; }


/*
a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; background-color:#fff; }
*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*** Markdown example **/

.markdown_examples {
  margin-top: 5px;
}

.markdown_examples table {
  border-collapse: collapse;
}

.markdown_examples table td {
  border: solid 1px #CCC;
  padding: 2px 10px;
}

.markdown_examples .code_block {
  width: 200px;
}


/*** CODE BLOCKS ***/
.highlight {
  font-family: 'Menlo', 'Courier New', 'Terminal', monospace;
  margin: 10px;
  background-color: #232323;
  color: #E6E0DB;
}
pre {
  margin: 0px;
  padding: 0px;
}

.an { color:#E7BE69 }                      /* html attribute */
.cm { color:#BC9358; font-style: italic; } /* comment */
.c1 { color:#BC9358; font-style: italic; } /* comment */
.ch { color:#509E4F }                      /* escaped character */
.mi { color:#FFF }                         /* constant */
.fl { color:#A4C260 }                      /* float */
.nf { color:#FFC56D }                      /* function */
.gv { color:#D0CFFE }                      /* global variable */
.i  { color:#A4C260 }                      /* integer */
.il { background:#151515 }                 /* inline code */
.iv { color:#D0CFFE }                      /* instance variable */
.pp { color:#E7BE69 }                      /* doctype */
.kt { color:#CB7832 }                      /* keyword */
.kw { color:#CB7832 }                      /* keyword */
.rx { color:#A4C260 }                      /* regex */
.s  { color:#A4C260 }                      /* string */
.s2 { color:#A4C260 }                      /* string */
.k  { color:#CB783D }                      /* keyword */
.ss { color:#6C9CBD }                      /* symbol */
.ta { color:#E7BE69 }                      /* html tag */
.pc { color:#6C9CBD }                      /* boolean */

/*** PAGINATION ***/

.pagination {
  margin: 8px 0;
  font-size: 12px;
}

.pagination .disabled {
  color: #999;
 }

.pagination em {
  font-style: normal;
}

.pagination a, .pagination em, .pagination .previous_page, .pagination .next_page {
   padding: 4px;
}

/*** ABOUT ***/

#about {
  margin-right: 0px;
}

#about .peter {
  float: right;
  padding: 7px;
  margin-left: 50px;
  border: solid 1px #CCC;
  text-align: center;
  font-weight: bold;
}

#about .peter img {
  display: block;
  padding-bottom: 2px;
}

#about h2 {
  margin-top: 25px;
  margin-bottom: 8px;
}

#about p {
  margin: 8px 0;
}


