/*

    terrafirma1.0 by nodethirtythree design
    http://www.nodethirtythree.com
        
*/
body
{
margin-left: 100px;
margin-right: 100px;
}

/*Remove the line under links*/
a {text-decoration:none;}

/*this is very important for me*/
pre { margin-left: 3% }

#comment_head
{
background: #dbdbdb no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}
#comment_body
{
background: #f3f3f3 no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}

#post_head
{
background: #dbdbdb no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}
#post_body
{
background: #f3f3f3 no-repeat;
border-left: 9px;
padding:8px 5px 8px 15px;
}

/* <span class="comhead"> (mozilla.com) </span> */
.comhead { font-family:Verdana; font-size:  8pt; color:#828282; }


/*
a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; background-color:#fff; }
*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
