<table>
  <tr>	
	 <th></th>
     <th></th> 
     <th>posts</th>
     <th>comments</th>
 	 <th>points</th>
  </tr>
<% if @users != nil %>
  <% @users.each do |user| %>
  <p>
    <tr>
       <td align="right"><%= user.id%></td>	
       <td><%= link_to user.name, user %></td> 
       <td align="center"><%= user.posts.count%></td>
       <td align="center"><%= user.comments.count%></td>
		<td align="center">do not how to count yet</td>
     </tr>
  </p>
  <% end %>
<% else %>
  <p>
  No user found
  </p>
<% end %>
</table>

