<table>
  <tr>	
	 <td>NO.</td>
     <td>name</td> 
     <td>posts</td>
     <td>comments</td>
  </tr>
<% if @users != nil %>
  <% @users.each do |user| %>
  <p>
    <tr>
       <td><%= user.id%></td>	
       <td><%= link_to user.name, user %></td> 
       <td><%= user.posts.count%></td>
       <td><%= user.comments.count%></td>
     </tr>
  </p>
  <% end %>
<% else %>
  <p>
  No user found
  </p>
<% end %>
</table>

