<h1 style="text-align:center">All users</h1>

<% if @users != nil %>
  <% @users.each do |user| %>
  User ID: <%= user.id %> <br \>
  User Name: <%= link_to user.name, user %>
  <br \>
  <br \>
  <% end %>

<% else %>
  No user found
  <br \>
  <%= link_to 'Back to Posts', posts_path %> 
<% end %>
</table>

