<% if @users != nil %>
  <% @users.each do |user| %>
  User ID: <%= user.id %> <br \>
  User Name: <%= link_to user.name, user %>
  <br \>
  <br \>
  <% end %>

<% else %>
  No user found
  <br \>
<% end %>
</table>

