<table border=0>
<tr><td valign=top>user:</td><td><%= @user.name %></td></tr>
<tr><td valign=top>email:</td><td><%= @user.email %></td></tr>
</table>

<h2>My Posts:</h2>
<% if @user.posts.any? %>  

  <% @posts=Post.where(:user_id => @user.id) %> 
  <%= render 'posts/posthead' %>
<% else %>
<p> 
You have no post 
</p>

<% end %>
  
<h2>My Comments:</h2>
<% if @user.comments.any? %>  

  <h2>Comments</h2>
  <%= render :partial => "comments/comment",
             :collection => @user.comments.reverse %>
   

<% end %>

