<% title "submit" %>
<p id="markdown_example">
Use <a href="http://daringfireball.net/projects/markdown/">Markdown</a> for formatting. See <%= link_to "examples", markdown_path %>.
</p>

<%= render 'form' %>

