<h3> markdown_examples </h3>
<div class="markdown_examples">
              <table>
                <tr>
                  <td><pre>[Link](http://example.com/)</pre></td>
                  <td><a href="http://example.com/">Link</a></td>
                </tr>
                <tr>
                  <td><pre>*Italic*</pre></td>
                  <td><em>Italic</em></td>
                </tr>
                <tr>
                  <td><pre>**Bold**</pre></td>
                  <td><strong>Bold</strong></td>
                </tr>
                <tr>
                  <td><pre>
* Listed
* Items
                  </pre></td>
                  <td><ul><li>Listed</li><li>Items</li></ul></td>
                </tr>
                <tr>
                  <td><pre>&gt; Block quote</pre></td>
                  <td><blockquote><p>Block quote</p></blockquote></td>
                </tr>
                <tr>
                  <td><pre>`Inline code`</pre></td>
                  <td><code>Inline code</code></td>
                </tr>
                <tr>
                  <td>
                    <pre>
```c 
#include <stdio.h>

int main(int argc, const char *argv[])
{
  printf("hello everyone!\n");
  return 0;
}
```
                    </pre>
                  </td>
                  <td><%= raw markdown(render "hello") %></td>
                </tr>
              </table>
</div>
<br \>

<h3>common mistakes</h3>
<div class="markdown_examples">
              <table>
                <tr>
                  <td><pre>inline html tag </pre></td>
                  <td><%= raw markdown(render "mistake") %></td>
                </tr>
</table>
</div>
